<!doctype html>
<html>
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<head>
    <title>ＨomePage</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header><h1>歡迎光臨，請輸入登入資訊</h1></header>
    <h3>登入系統</h3>
    <div class="content">
    <form action="/signin" method="POST">
        <span>帳號:</span><input placeholder="請輸入帳號" name="accountName"><br/>
        <span>密碼:</span><input placeholder="請輸入密碼" type="password" name="passWord"><br/>
        <input type="submit" value="登入">
        </form>
    </div>

</body>
</html>